# Created by .ignore support plugin (hsz.mobi)
.idea/dictionaries/
.idea/misc.xml
.idea/modules.xml
.idea/react-redux-test-randolph.r.gordon-gmail.com.iml
.idea/vcs.xml
.idea/watcherTasks.xml
img/
node_modules/

