$daily-default-font-color: #81a8ef;


.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 40vh;
  .colavo-carousel-dots {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: auto;
    text-align: center;
    & li {
      list-style: none;
      display: inline-block;
      margin: 20px 5px;
      & button {
        border: $daily-default-font-color 2px solid;
        color: transparent;
        cursor: pointer;
        display: block;
        height: 5px;
        width: 10px;
        border-radius: 5px;
        transition: all 0.2s;
      }
    }
    .slick-active button {
      width: 30px;
      transition: all 0.2s;
    }
  }
  .slick-center {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1) !important;
    opacity: 1 !important;
    transition: ease-in-out 0.1s;
    /* item */
  }
  .slick-slide {
    transform: scale(0.9);
    opacity: 0.4;
  }
}


.thumbnail{/* outline: none; */
  border: rgb(81, 121, 190) 2px solid;
  border-radius: 3px;
  text-align: left;
  max-width: 100%;
  color: $daily-default-font-color;
  h1 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .info {
    font-family: "Century Gothic", serif;
    padding: 20px;
    font-size: 0.7rem;
    .element {
      display: flex;
      flex-direction: row;
      .svg {
        .icon {
          margin-right: 4px;
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
  .text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

}

