.site-drawer-render-in-current-wrapper {
  background: lawngreen;
  overflow: hidden;
  position: relative;
  border: 1px solid #ebedf0;
  border-radius: 5px;
  padding: 0px;
  text-align: center;
}

.ant-drawer-wrapper-body {
  background: lawngreen;
  overflow: hidden;
  position: relative;
  border: 1px solid #ebedf0;
  border-radius: 5px;
  padding: 0px;
  text-align: center;
}

.test {
  background: #473B56;
}