$purple-theme: linear-gradient(45deg,#7F5C6C, #513E56,#473B56,#403455,#3B3551) !important;

.hourly-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  overflow: hidden;
  background: #00ccff;
  border: black 2px solid;
  border-radius: 16px;
  .sidebar-icon{
    height:1rem;
  }
}
