@import "styles/carousel";
@import "styles/dashboard";
@import 'styles/click';
@import "styles/daily";
@import "styles/weatherIcons";
@import "styles/hours";
@import "styles/load";

$purple-theme: linear-gradient(45deg,#7F5C6C, #513E56,#473B56,#403455,#3B3551) !important;
$dark-theme: linear-gradient(45deg,#242223, #5f5e5e,#242223) !important;
$dark-blue-theme :linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
$default-theme: linear-gradient(rgb(245, 245, 245), rgb(203, 201, 201), rgb(153, 153, 153)) !important;
$warm-gradient: linear-gradient(rgb(237, 168,111), rgb(239, 134, 101), rgb(218, 99, 101), rgb(208, 69,110),rgb(218, 99, 101),rgb(239, 134, 101),rgb(237, 168,111) ) !important;
$cool-gradient: linear-gradient(rgb(92, 149, 204), rgb(81, 121, 190), rgb(66, 95, 161), rgb(56, 73, 142));
$animated-gradient: linear-gradient(to right, rgb(237, 168,111) 20%, rgb(239, 134, 101) 40%, rgb(218, 99, 101) 60%,  rgb(239, 134, 101) 80%,rgb(237, 168,111) 90%);

body {
  margin: 0;
  overflow: hidden;
}


//noinspection CssNoGenericFontName
.App {
  text-align: center;
  .background {
    background: $purple-theme;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 16px;
    height: 100vh;
    .container {
      box-sizing: border-box;
      border-radius: 3px;
      height: 100%;
      padding: 8px;
      display: flex;
      font-size: calc(10px + 2vmin);
      //box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.25);
      .main{
        // background image
        border:1px purple solid;
        border-radius: 3px;
        height: 100%;
        width: 100%;
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.25);

      }
    }
  }
}
