.site-drawer-render-in-current-wrapper {
  background: lawngreen;
  overflow: hidden;
  position: relative;
  border: 1px solid #ebedf0;
  border-radius: 2px;
  padding: 48px;
  text-align: center;
}
